.form-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: -7px 13px 17px 3px rgba(0, 0, 0, 0.33);
  width: 80%;
}

.label-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
  /* background-color: blue; */
}

.form label {
  margin-top: 10px;
}

.form input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 10px;
  padding: 8px;
  width: 90%;
}

.form button {
  cursor: pointer;
  margin: 20px 0px 10px 0px;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid rgb(10, 10, 10);
}

@media screen and (min-width: 600px) {
  .form {
    width: 50%;
  }
}

@media screen and (min-width: 700px) {
  .form {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .form {
    width: 30%;
  }
}
